name: release-goodin
on:
  # Option 2: Also trigger on PRs to release branches
 push:
    branches:
      - main
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          target-branch: main
          release-type: go
          package-name: release
          bump-minor-pre-major: true
          bump-patch-for-minor-pre-major: true
          release-search-depth: 200
          extra-files: |
            - type: json
              path: package.json
              jsonpath: $.version
